* {
  padding: 0;
  margin: 0;
}

.navbar {
  height: 75px;
  padding: 0 120px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0px;
  left: 0px;
  color: #FFF;
  background-color: #64273B;
}

.nav-link {
  color: #c8c8c8;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 0px;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: #FFF;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #FFF;
}

.nav-link:hover:after {
  width: 100%;
}

.navbar-brand {
  font-size: 2rem;
  color: #FFF;
  font-family: "Bebas Neue", sans-serif;
}

.navbar-brand img {
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .navbar {
    padding: unset;
    height: unset;
    height: unset;
  }
  .nav-link {
    margin-bottom: 5px;
  }
  .nav-item:first-of-type {
    margin-top: 5px;
  }
  .nav-item:last-of-type {
    margin-bottom: 5px;
  }
  /* .navbar-brand{
    font-size: 1.8rem;
  } */
  .navbar-brand img {
    height: 40px;
    margin-right: 5px;
  }
}
main {
  background-color: #F5EEE6;
  height: auto;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 120px;
  box-sizing: unset;
}
main h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 64px;
  color: #64273B;
  padding: 50px 0px;
  margin-top: 75px;
}
main p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 576px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
  main h2 {
    font-size: 32px;
    padding: 0px;
    padding-top: 40px;
    margin-top: 58px;
  }
  main p {
    font-size: 18px;
  }
}

footer {
  display: flex;
  background: black;
  align-items: flex-end;
  height: 100px;
  color: #FFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
  box-sizing: unset;
}
footer h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  margin-bottom: 15px;
  margin-right: 50px;
  margin-left: 50px;
}
footer hr {
  background-color: #FFF;
  width: 600px;
  height: 1px;
  margin-top: 16px;
  opacity: unset;
}
footer .pie-pagina {
  display: flex;
}
@media (max-width: 576px) {
  footer {
    padding-bottom: 0px;
    padding-top: 0;
    box-sizing: unset;
  }
  footer h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    margin-right: 12px;
    margin-left: 12px;
  }
  footer p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  footer hr {
    width: 7rem;
    margin-top: 10px;
  }
}

.main-home {
  padding: 0;
  margin: 0;
  padding-bottom: 120px;
}
@media (max-width: 576px) {
  .main-home {
    height: auto;
    padding-bottom: 12px;
  }
}

#hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/home/estoas.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  font-family: "Bebas Neue", sans-serif;
}
#hero h1 {
  font-size: 120px;
}
#hero h3 {
  font-size: 36px;
}
@media (max-width: 576px) {
  #hero {
    height: 45vh;
    margin-top: 58px;
  }
  #hero h1 {
    font-size: 42px;
  }
  #hero h3 {
    font-size: 20px;
  }
}

.introduccion {
  margin: 120px 120px 0px 120px;
  background-color: #FFF;
  padding: 30px 30px 100px 30px;
}
.introduccion:last-of-type {
  margin: 0px 120px;
  padding: 100px 30px 30px 30px;
}
.introduccion h2 {
  padding-top: 10px;
  margin-top: 0px;
}
@media (max-width: 576px) {
  .introduccion {
    margin: 12px 12px 0px 12px;
    padding: 10px 10px 50px 10px;
  }
  .introduccion:last-of-type {
    margin: 0px 12px;
    padding: 375px 10px 10px 10px;
  }
}

article .fondo-articulo {
  background-image: url(../img/home/f1.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
article .fondo-articulo .texto-articulo {
  width: 30%;
  height: 520px;
  background-color: #64273B;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: -60px;
  box-sizing: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article .fondo-articulo .texto-articulo .titulo-art {
  font-size: 42px;
  font-family: "Bebas Neue", sans-serif;
  color: #FFF;
  margin-bottom: 30px;
}
article .fondo-articulo .texto-articulo .cuerpo-art {
  color: #FFF;
  margin-bottom: 40px;
}
article .fondo-articulo .texto-articulo .boton-articulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #AD8286;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
article .fondo-articulo .texto-articulo .boton-articulo a {
  color: #FFF;
  text-decoration: none;
}
article:last-of-type .fondo-articulo {
  background-image: url(../img/home/f2.jpg);
}
article:last-of-type .fondo-articulo .texto-articulo {
  right: 50%;
  left: unset;
}
@media (max-width: 576px) {
  article .fondo-articulo {
    background-image: url(../img/home/fotoArticulo1.jpg);
    width: 95%;
    height: 250px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  article .fondo-articulo .texto-articulo {
    width: 100%;
    height: 350px;
    padding: 0px;
    left: unset;
    top: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  article .fondo-articulo .texto-articulo .titulo-art {
    font-size: 26px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: unset;
  }
  article .fondo-articulo .texto-articulo .cuerpo-art {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: unset;
  }
  article .fondo-articulo .texto-articulo .boton-articulo {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: unset;
  }
  article:last-of-type .fondo-articulo {
    background-image: url(../img/home/fotoArticulo2.jpg);
  }
  article:last-of-type .fondo-articulo .texto-articulo {
    right: unset;
  }
}

.cont-cita .cita {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  text-align: center;
  margin: 0px 120px;
  background-color: #FFF;
  padding: 170px 100px 30px 100px;
}
.cont-cita .filosofo {
  padding: 0px 100px 170px 100px;
  margin: 0px 120px;
  background-color: #FFF;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 576px) {
  .cont-cita .cita {
    font-size: 24px;
    margin: 0px 12px;
    padding: 405px 50px 30px 50px;
  }
  .cont-cita .filosofo {
    padding: 0px 50px 50px 50px;
    margin: 0px 12px;
    font-size: 12px;
  }
}

.main-contacto {
  background-color: #0C0B10;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.main-contacto .cont-contacto {
  color: #FFF;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "texto texto formulario" "foto foto formulario";
}
.main-contacto .cont-contacto h2 {
  color: #FFF;
  padding-left: 120px;
}
.main-contacto .cont-contacto p {
  color: #FFF;
  padding-left: 120px;
  font-size: 24px;
  padding-right: 30px;
}
.main-contacto .cont-contacto .foto {
  grid-area: foto;
  margin-top: 50px;
}
.main-contacto .cont-contacto .texto-contactos {
  grid-area: texto;
}
.main-contacto .cont-contacto .formulario {
  grid-area: formulario;
  padding-top: 80px;
  margin-top: 100px;
}
.main-contacto .cont-contacto .formulario form {
  width: 550px;
  padding: 20px;
  background-color: #0C0B10;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.main-contacto .cont-contacto .formulario form input {
  width: 100%;
  margin: 20px 0px;
  height: 50px;
  border-radius: 10px;
}
.main-contacto .cont-contacto .formulario form label {
  width: 100%;
}
.main-contacto .cont-contacto .formulario form .boton-formulario {
  width: 100px;
  background-color: #64273B;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  border: none;
}
.main-contacto .cont-contacto .formulario form textarea {
  width: 100%;
  margin: 10px 0px;
  height: 65px;
  border-radius: 10px;
}
.main-contacto .cont-contacto .formulario form textarea ::placeholder {
  padding-top: 10px;
}
.main-contacto .cont-contacto .formulario form ::placeholder {
  color: #64273B;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (max-width: 576px) {
  .main-contacto {
    height: auto;
  }
  .main-contacto .cont-contacto {
    height: unset;
    display: unset;
  }
  .main-contacto .cont-contacto h2 {
    padding-left: 12px;
    padding-bottom: 20px;
    margin-top: 75px;
    padding-top: 55px;
  }
  .main-contacto .cont-contacto p {
    padding-left: 12px;
    font-size: 20px;
    padding-right: 12px;
    margin-bottom: 0;
  }
  .main-contacto .cont-contacto .foto {
    margin-top: unset;
  }
  .main-contacto .cont-contacto .foto img {
    width: 0;
  }
  .main-contacto .cont-contacto .formulario {
    padding: 30px 30px 0px 30px;
    margin-top: unset;
    background-image: url(../img/contacto/fondocontacto.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    align-items: end;
  }
  .main-contacto .cont-contacto .formulario form {
    background-color: unset;
    width: 100%;
    padding: 0px;
    font-size: 16px;
  }
}

.main-ideas .cont-ideas {
  display: flex;
  background-color: #FFF;
  padding: 30px;
}
.main-ideas .cont-ideas .indice {
  position: sticky;
  top: 120px;
  left: 0;
  width: 20%;
  height: 400px;
  padding: 30px;
  background-color: #64273B;
  color: #FFF;
  box-sizing: unset;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}
.main-ideas .cont-ideas .indice .titulo-indice {
  padding: 10px 0px;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  font-weight: 700;
}
.main-ideas .cont-ideas .indice li {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.main-ideas .cont-ideas .indice a {
  text-decoration: none;
  color: #FFF;
}
.main-ideas .cont-ideas .textoPrincipal {
  width: 80%;
  padding: 0px 30px;
  margin-left: 40px;
}
.main-ideas .cont-ideas .textoPrincipal h3 {
  font-size: 48px;
  font-family: "Bebas Neue", sans-serif;
  margin: 15px 0px;
}
.main-ideas .cont-ideas .textoPrincipal iframe {
  width: 90%;
  box-sizing: unset;
  padding: 5%;
  height: 550px;
}
@media (max-width: 576px) {
  .main-ideas {
    padding: 0;
    margin: 0;
    height: auto;
  }
  .main-ideas h2 {
    padding-left: 12px;
    margin-bottom: 8px;
  }
  .main-ideas .cont-ideas {
    flex-direction: column;
    padding: 10px;
    margin: 12px;
    margin-top: 0px;
  }
  .main-ideas .cont-ideas .indice {
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    height: 400px;
    padding: 0px;
    box-sizing: unset;
  }
  .main-ideas .cont-ideas .indice nav {
    padding: 12px;
  }
  .main-ideas .cont-ideas .indice .titulo-indice {
    padding: 10px 0px;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    font-weight: 700;
  }
  .main-ideas .cont-ideas .textoPrincipal {
    width: unset;
    padding: 0px;
    margin-left: 0px;
  }
  .main-ideas .cont-ideas .textoPrincipal h3 {
    font-size: 38px;
  }
  .main-ideas .cont-ideas .textoPrincipal iframe {
    height: 200px;
    box-sizing: unset;
  }
}

.main-libros .libro {
  background-color: #64273B;
  padding: 15px;
  width: auto;
  margin-bottom: 24px;
  box-sizing: border-box;
}
.main-libros .libro img {
  width: 100%;
  height: 350px;
}
.main-libros .libro h3 {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0px;
}
.main-libros .libro .precio {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 15px;
}
.main-libros .libro .boton {
  border-radius: 10px;
  background: #AD8286;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 3px 8px;
}
@media (max-width: 576px) {
  .main-libros {
    padding: 12px;
    box-sizing: border-box;
    margin: 0;
  }
  .main-libros .libro img {
    height: 230px;
  }
  .main-libros .libro h3 {
    padding: 10px 0px 0px 0px;
  }
  .main-libros .libro .precio {
    padding-bottom: 0px;
  }
}

.main-referentes .referente {
  display: flex;
  background-color: #d9d9d9;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  border: #64273B solid 5px;
  border-radius: 12px;
  box-sizing: unset;
  padding-right: 10px;
}
.main-referentes .referente img {
  border: #d9d9d9 solid 1px;
  height: 300px;
  margin: 0;
  border-radius: 10px;
}
.main-referentes .referente .texto-referente h3 {
  color: #64273B;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  padding-top: 27px;
}
.main-referentes .referente:last-of-type {
  margin-bottom: 0px;
}
@media (max-width: 576px) {
  .main-referentes {
    padding: 12px;
    height: auto;
  }
  .main-referentes .referente {
    flex-direction: column;
    width: auto;
    padding: 5px;
  }
  .main-referentes .referente img {
    height: auto;
    width: 100%;
  }
  .main-referentes .referente .texto-referente h3 {
    padding: 27px 0px;
    text-align: center;
  }
  .main-referentes .referente .texto-referente p {
    font-size: 18px;
    padding: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
