
.main-home{

    padding: 0;
    margin: 0;
    padding-bottom: 120px;

    @include media-query-mobile(){
        height: auto;
        padding-bottom: 12px;

    }
    
    
}

#hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(../img/home/estoas.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: $fuente-titulo;
    h1 {
        font-size: 120px;
    }
    h3 {
        font-size: 36px;
       
    }

    @include media-query-mobile(){
        height: 45vh;
        margin-top: 58px;
        h1 {
            font-size: 42px;
        }
        
         h3 {
            font-size: 20px;  
        }
    }

     
}



.introduccion{
    margin: 120px 120px 0px 120px;
    background-color: #FFF;
    padding: 30px 30px 100px 30px;
    &:last-of-type{
        margin: 0px 120px;
     
        padding: 100px 30px 30px 30px;
    }
    h2{
        padding-top: 10px;
        margin-top: 0px;
    }
    @include media-query-mobile(){
        margin: 12px 12px 0px 12px;
        padding: 10px 10px 50px 10px;
        &:last-of-type{
            margin: 0px 12px;
            padding: 375px 10px 10px 10px;
        }

    }
}

article{
    .fondo-articulo{
        background-image: url(../img/home/f1.jpg);
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .texto-articulo{
            width: 30%;
            height: 520px;
            background-color: $color-principal;
            padding: 50px;
            position: absolute;
            left: 50%;
            top: -60px;
            box-sizing: unset;
            display: flex;
            flex-direction: column;
            justify-content: center;

                .titulo-art{
                font-size: 42px;
                font-family:$fuente-titulo;
                color: #FFF;
                 margin-bottom: 30px ;
            
                }
            
                .cuerpo-art{
                color: #FFF;
                margin-bottom: 40px;
                 }
            
                .boton-articulo{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 50px;
                border-radius: 10px;
                background-color: #AD8286;
                color: #FFF;
                font-family: $fuente-texto;
                font-size: 20px;
                font-weight: 400;
            
                a{
                    color: #FFF;
                    text-decoration: none;
                }
                }

        }

    }

    &:last-of-type .fondo-articulo{
        background-image: url(../img/home/f2.jpg);   
        .texto-articulo{
            right: 50%;
            left: unset;
        } 

    }

    @include media-query-mobile(){
        .fondo-articulo{
            background-image: url(../img/home/fotoArticulo1.jpg);
            width: 95%;
            height: 250px;
            margin-left: 2.5%;
            margin-right: 2.5%;

            .texto-articulo{
                width: 100%;
                height: 350px;
                padding: 0px;
                
                left: unset;
                top: 250px;
                border-bottom-left-radius: 20px ;  
                border-bottom-right-radius: 20px;   
                .titulo-art{
                    font-size: 26px;
                    padding-left: 20px;
                    padding-top: 20px;
                    margin-bottom: unset;
                }
                
                .cuerpo-art{
                    font-size: 16px;
                    padding: 5px 10px;
                    margin-bottom: unset;
                }
                
                .boton-articulo{
                    width: 100px;
                    height: 30px;
                    border-radius: 10px;
                    font-size: 12px;
                    margin-left: 20px;
                    margin-bottom: unset;
                }

            }
         
        }
        &:last-of-type .fondo-articulo{
            background-image: url(../img/home/fotoArticulo2.jpg);    
        }
        &:last-of-type .fondo-articulo .texto-articulo{
            right: unset;
        }
    }



}


.cont-cita{
    .cita{
        font-family: $fuente-titulo;
        font-size: 48px;
        text-align: center;
        margin: 0px 120px;
        background-color: #FFF;
        padding: 170px 100px 30px  100px;
    }   
    .filosofo{
        padding: 0px 100px 170px  100px;
        margin: 0px 120px;
        background-color: #FFF;
        font-weight: 600;
        font-family: $fuente-texto;
    
    }
    @include media-query-mobile(){
        .cita{
   
            font-size: 24px;
            margin: 0px 12px;
           
            padding: 405px 50px 30px 50px;
        }
        .filosofo{
            padding: 0px 50px 50px 50px;
            margin: 0px 12px;
            font-size: 12px;
        
        }
    }

}