
.main-libros{
    .libro{
        background-color: $color-principal;
        padding: 15px;
        padding-bottom: 20px;
        width: auto;
        margin-bottom: 24px;
        box-sizing: border-box;

        img{
            width: 100%;
            height: 350px;

           
        }
        h3{
            color: #FFF;
            font-family: $fuente-texto;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
            padding: 10px 0px;
        }
        .precio{
            color: #FFF;
            font-family: $fuente-texto;
            font-size: 18px;
            font-weight: 300;
        
        }
        .boton{
    
            border-radius: 10px;
            background: #AD8286;
            color: #FFF;
            font-family: $fuente-texto;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;

            
        
            padding: 5px 12px;
        }
       
    }
    @include media-query-mobile(){
        padding: 12px;
        box-sizing: border-box;
        margin: 0;


        .libro{
            img{
                height: 230px ;
            }   
            h3{
               
                padding: 10px 0px 0px 0px;
                
            
            }
            .precio{
             
                padding-bottom: 0px;
                margin-bottom: 8px;
                margin-top: 3px;
            }



        }

            

        }
    }


